body {

  width: 960px;
  margin: auto;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url(https://wallpaperaccess.com/full/1732235.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 10px 0;
  text-align: center;
  background: #887fea;
  height: 60px;
  border: #966bed;
  border-style: ridge;
  border-radius: 17%;
}

header nav div{
  float: right;
}

header nav div a {
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

header nav img {
  float: left;
  padding-top: 10px;
  padding-left: 13px;
}

h1{
  float: left;
  padding-left: 204px;
  padding-top: 5px;
  font-size: 28px;
}

main{
  text-align: center
}
img{
    width: 100px;
}

#link{
    display: flex;
    justify-content: center;
}

a:link, a:visited {
  background-color: #709fb0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 33px;
}

a:hover, a:active {
  background-color: #413c69;
}

.Gallery{
  padding: 95px 0;
  margin: auto;
  height: 500px;
}

.mySlides{
  width: 100%;
}

footer{
  text-align: center;
  background: #887fea;
  border: #966bed;
  border-style: ridge;
  border-radius: 17%;
}
#intro{
  margin: 19px 0;
  padding: 23px 15px;
  border: solid #825ece;
  border-radius: 17%;
  background: lightblue;
  text-align: center;
}

#locations{
  display: flex;
  margin: 12px 0;
  padding: 23px 15px;
  border: solid #825ece;
  border-radius: 17%;
  background: lightblue;
}

#locations p {
  margin: 60px 0;
  background: cadetblue;
  padding: 10px 0;
  border-radius: 15px;
}

