@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  width: auto;
  height: auto;
  background-image: url(https://wallpaperaccess.com/full/1732235.jpg);
  background-size: cover;
 }
#Seattle{
  background-color: #413c69;
  display: flex;
  width: 500px;
  margin-left: 50%;
  justify-content: center;
  border: 5px solid #b3b3b3 ;
  border-radius: 50%;
  font-family: cursive;
  font-weight: bold;
}
#Tokyo{
  background-color: #4a47a3;
  display: flex;
  width: 500px;
  margin-right: 50%;
  justify-content: center;
  border: 5px solid #b3b3b3 ;
  border-radius: 50%;
  font-family: monospace;
  font-weight: bold;
}
#Dubai{
  background-color: #709fb0;
  display: flex;
  width: 500px;
  margin-left: 50%;
  justify-content: center;
  border: 5px solid #b3b3b3 ;
  border-radius: 50%;
  font-family: serif;
  font-weight: bold;
}
#Paris{
  background-color: #a7c5eb;
  display: flex;
  width: 500px;
  margin-right: 50%;
  justify-content: center;
  border: 5px solid #b3b3b3 ;
  border-radius: 50%;
  font-family: fantasy;
  font-weight: bold;
}
#Lima{
  background-color: #413c69;
  display: flex;
  width: 500px;
  margin-left: 50%;
  justify-content: center;
  border: 5px solid #b3b3b3 ;
  border-radius: 50%;
  font-weight: bold;
}
li{
  list-style: none;
}

header {
  text-align: center;
  background: #383e56;
  margin-bottom: 20px;
}

header h1 {
  line-height: 50px;
  color: #fff;
}


#Table {
  text-align: center;
  font-family: emoji;
  border-collapse: collapse;
  width: 100%;
}

#Table td, #Table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Table tr:nth-child(even){background-color: #f2f2f2;}

#Table tr:hover {background-color: #ddd;}

#Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #5e5cd4;
  color: white;
  text-align: center;
}